$heading-font-family: "Monument", sans-serif;
$body-font-family: "Monument", sans-serif;
$title-font-size: 9.3rem;
$heading-font-size: 5rem;
$project-font-size: 4rem;
$skills-font-size: 2.25rem;
$title-text-shadow: 0px 4px 5px rgb(179, 179, 179);