//SKILLS SECTION
.skills {
  font-family: $body-font-family;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  padding: 30px;

  h2 {
    font-size: 2rem;
  }

  h3 {
    display: flex;
    text-align: center;
    font-size: 2rem;
    padding: 30px;
    justify-content: center;
  }

  .lines {
    display: flex;
  }

  .design-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
      margin: 1rem;
      max-width: 50px;
    }
  }

  .tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
      margin: 1rem;
      max-width: 50px;
    }
  }
}


@media screen and (min-width: 600px) {
  // SKILLS SECTION

  .skills {
    font-family: $body-font-family;
    font-size: $heading-font-size-1024;

    h2 {
      display: flex;
      font-size: $heading-font-size-1024;
    }

    h3 {
      display: flex;
      font-size: $project-font-size-1024;
    }
    .design-skills {
      margin: 0 20px;
      img {
        margin: 1rem;
        max-width: 96px;
      }
    }

    .tech-stack {
      margin: 0 20px;
      img {
        margin: 1rem;
        max-width: 96px;
      }
    }
  }
}