//SKILLS SECTION
.skills {
  font-family: $body-font-family;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  padding: 30px;

  h2 {
    font-size: 2rem;
  }

  h3 {
    display: flex;
    text-align: center;
    font-size: 2rem;
    padding: 30px;
    justify-content: center;
  }

  .lines {
    display: flex;
  }

  .design-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
      margin: 1rem;
      max-width: 50px;
    }
  }

  .tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
      margin: 1rem;
      max-width: 50px;
    }
  }
}
