@font-face {
  font-family: Gallient;
  src: url(fonts\FontsFree-Net-Gallient-1.ttf);
}

@font-face {
  font-family: Monument;
  src: url(fonts\monumentextended-freeforpersonaluse\MonumentExtended-Regular.otf);
  font-weight: lighter;
}

@font-face {
  font-family: IBM Mono;
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
}
